@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<a href="@Url.Action("Add", "Transaction")" class="btn btn-primary custombtn ">Add</a>

    @(Html.Kendo().Grid<_79_Project.ViewModel.Transaction.CreateEditViewModel>()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound("").ClientTemplate("<a data-id='#=ID#' href='" + Url.Action("Edit", "Transaction", new { id = "#=ID#" }) + "' class='rid-link btn btn-primary'>Edit</a>")
                                       .Width(90).Title("").Filterable(false).HeaderHtmlAttributes(new { @class = "action-header padding-left-10" }).HtmlAttributes(new { @class = "action-col" });

        columns.Bound(p => p.TransactionDate).Format("{0:yyyy-mm-dd}");
        columns.Bound(p => p.Description).Title("Description");
        columns.Bound(p => p.Status).Title("Credit");
        columns.Bound(p => p.Amount).Title("Amount");
    })
    .Pageable()
    .Sortable()
    .Scrollable()
    .HtmlAttributes(new { style = "height:550px;" })
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .Read(read => read.Action("List", "Transaction"))
    )
)
